<p>
  <h1><%= @post.title %></h1>
</p>
 
<p class="posttext">
  <%= @post.text %>
</p>
 
<h2 class="commentstitle">Comments</h2>
<%= render @post.comments %>
 
<h2 class="commentstitle">Add a comment:</h2>
<%= render "comments/form" %>
 
<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %>